<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <label routerLink="/cars">Home Page</label> 
     
    <button *ngIf="!isAuthenticated()" type="button" class="btn btn-info" routerLink="/login">Login</button>
    <button *ngIf="!isAuthenticated()" type="button" class="btn btn-warning" routerLink="/register">Register</button>
    <div *ngIf="isAuthenticated()" class="dropdown">
      <button *ngIf="isAuthenticated()" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">{{userInfo.firstName}}</button>
      <ul class="dropdown-menu">
        <li><a href="/profile">Profile</a></li>
        <li (click)="logout()"><a href="/cars">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>