<table class="table">
    <thead>
        <tr>
        <td>BrandName</td>
        <td>ColorName</td>
        <td>ModelYear</td>
        <td>DailyPrice</td>
        <td>Description</td>
        <td>Image</td>
        </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails">
        <td >{{carDetail.brandName}}</td>
        <td >{{carDetail.colorName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td >{{carDetail.dailyPrice}}</td>
        <td >{{carDetail.description}}</td>
    </tr>
    <img *ngFor="let image of carImages" [src]="getImagePath(image.imagePath)">
    <button routerLink="/rents" type="button" class="btn btn-warning">Rent</button>


</table>

