<table class="table">
    <thead>
        <tr>
        <td>BrandName</td>
        <td>ColorName</td>
        <td>ModelYear</td>
        <td>DailyPrice</td>
        <td>Description</td>
        <td>Image</td>
        </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails">
        <td >{{carDetail.brandName}}</td>
        <td >{{carDetail.colorName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td >{{carDetail.dailyPrice}}</td>
        <td >{{carDetail.description}}</td>
    </tr>
    <img *ngFor="let image of carImages" [src]="getImagePath(image.imagePath)">
    <div class="form-group">
        <label for="rentDate">Rent Date:</label>
        <input type="date" class="form-control" [(ngModel)]="rentDate" name="rentDate" />
    </div>
    <div class="form-group">
        <label for="returnDate">Return Date:</label>
        <input type="date" class="form-control" [(ngModel)]="returnDate" name="returnDate" />
    </div>
    <button routerLink="/payments" type="button" class="btn btn-warning" >Rent</button>


</table>

